<div class="row">
    <div class="col-md-12">
        <uib-alert type="warning" ng-show="!submittedGeneralBet && generalBetsAreOpen">
            <i class="fa fa-exclamation-triangle"></i> You haven't placed a bet on the <b>Winning Team</b> and the <b>Golden Boot Player</b>, <a ng-href="users/{{security.user.userName}}">click here</a> now
        </uib-alert>
    </div>
</div>
<div class="row" ng-show="pendingUpdateGames">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-clock-o"></i> Pending Update Games</div>
            <div class="panel-body">
                <div class="list-group" cg-busy="{tracker:'getGames'}">
                    <a class="list-group-item" ng-repeat="game in games | filter:isPendingUpdate()" href="{{game.getUrl()}}" tooltip="{{game.Date | date:'dd/MM/yy @ h:mma'}}">
                        <div class="row">
                            <div class="col-md-5 col-xs-3">
                                <i ng-class="['flagsp','flagsp_{{game.HomeTeam.ShortName | lowercase}}']" tooltip="{{::game.HomeTeam.Name}}"></i>  <span class="hidden-xs">{{::game.HomeTeam.Name}}</span>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center"> - </div>
                            <div class="col-md-5 col-xs-3">
                                <span class="pull-right">
                                     <span class="hidden-xs">{{::game.AwayTeam.Name}}</span> <i ng-class="['flagsp','flagsp_{{game.AwayTeam.ShortName | lowercase}}']" tooltip="{{::game.AwayTeam.Name}}"></i>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-folder-open"></i> Open Games for Betting <span class="pull-right badge">{{(games | filter:isOpenForBetting()).length }}</span></div>
            <div class="panel-body">
                <div class="list-group" cg-busy="{tracker:'getGames'}">
                    <a class="list-group-item" ng-class="{'list-group-item-warning' : !game.UserHasBet}"  ng-repeat="game in games | filter:isOpenForBetting() | limitTo:10" href="{{game.getUrl()}}" tooltip="{{game.Date | date:'dd/MM/yy @ h:mma'}}">
                        <div class="row">
                            <div class="col-md-5 col-xs-3">
                                <i ng-class="['flagsp','flagsp_{{game.HomeTeam.ShortName | lowercase}}']" tooltip="{{::game.HomeTeam.Name}}"></i>  <span class="hidden-xs">{{::game.HomeTeam.Name}}</span>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center"> - </div>
                            <div class="col-md-5 col-xs-3">
                                <span class="pull-right">
                                     <span class="hidden-xs">{{::game.AwayTeam.Name}}</span> <i ng-class="['flagsp','flagsp_{{game.AwayTeam.ShortName | lowercase}}']" tooltip="{{::game.AwayTeam.Name}}"></i>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-futbol-o" aria-hidden="true"></i> Last scores <span class="pull-right badge" uib-tooltip="Total Finished Games">{{(games | filter:isDecided()).length }}</span></div>
            <div class="panel-body">
                <div class="list-group" cg-busy="{tracker:'getGames'}">
                    <a class="list-group-item" ng-class="{'list-group-item-warning' : !game.UserHasBet}" ng-repeat="game in games | filter:isDecided() | orderBy:'Date':true | limitTo:10" href="{{game.getUrl()}}">
                        <div class="row">
                            <div class="col-md-5 col-xs-3">
                                <i ng-class="['flagsp','flagsp_{{game.HomeTeam.ShortName | lowercase}}']" tooltip="{{::game.HomeTeam.Name}}"></i> <span class="hidden-xs">{{::game.HomeTeam.Name}}</span>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center"> {{::game.HomeScore}} - {{::game.AwayScore}} </div>
                            <div class="col-md-5 col-xs-3">
                                <span class="pull-right">
                                    <span class="hidden-xs">{{::game.AwayTeam.Name}}</span> <i ng-class="['flagsp','flagsp_{{game.AwayTeam.ShortName | lowercase}}']" tooltip="{{::game.AwayTeam.Name}}"></i>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-calculator" aria-hidden="true"></i> Ranking Table</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div ui-grid="gridOptions" class="myGrid" ui-grid-resize-columns ui-grid-auto-resize ng-style="getTableHeight()" ui-grid-save-state
                              cg-busy="{tracker:'getUsers'}" ui-if="gridOptions.data.length > 0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="!generalBetsAreOpen">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-money"></i> General Bets</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12">
                                <div google-chart chart="chart">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <th>Name</th>
                                <th>Winning Team</th>
                                <th>Golden Boot Player</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="bet in generalBets">
                                    <td>{{bet.OwnerName}}</td>
                                    </td>
                                    <td>{{teamsDic[bet.WinningTeamId].Name}}</td>
                                    <td>{{bet.GoldenBootPlayer}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spot-im-frame-inpage" data-post-id="dashboard"></div>
    </div>
</div>