<div class="row">
    <div class="col-md-12 col-xs-12">
        <h3>
        {{stadium.Name}}, {{stadium.City}} (Capacity: {{ stadium.Capacity | number }})
        </h3>
        <button type="button" class="btn btn-info btn-xs" data-access-level="Admin" ng-click="showEditForm = !showEditForm">
            <i class="fa fa-pencil-square-o"></i> <span mundialito-toggle-text true-label="Hide Edit Form" false-label="Edit Stadium" varieble="showEditForm">Edit Stadium</span>
        </button>
    </div>
</div>
<br/>
<br/>
<div class="row" data-access-level="Admin" ng-show="showEditForm" cg-busy="{tracker:'editStadium'}">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-pencil-square-o"></i> Edit Stadium Details</div>
            <div class="panel-body">
                <form name="editStadiumForm" novalidate>
                    <auto:fields fields="schema" data="stadium"></auto:fields>
                    <button type="button" ng-click="updateStadium()" class="btn btn-primary btn-lg btn-block" ng-disabled="editStadiumForm.$invalid" tabindex="100"><i class="fa fa-floppy-o"></i> Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success"  cg-busy="{tracker:'getStadiumGames'}">
            <div class="panel-heading">Games in {{stadium.Name}}</div>
            <div class="panel-body">
                <mundialito-games info="games" show-only="true"></mundialito-games>
            </div>
        </div>
    </div>
</div>
