<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eurochamp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>eurochamp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eurochamp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$eurochamp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Mundialito.DAL.MundialitoContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:eurochamp.database.windows.net,1433;Initial Catalog=eurochamp;User ID=ezraroi@eurochamp.database.windows.net;Password=RoiAnatHadasEzra11" Name="Data Source=tcp:eurochamp.database.windows.net,1433;Initial Catalog=eurochamp;User Id=ezraroi@eurochamp.database.windows.net;Password=RoiAnatHadasEzra11" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Mundialito.DAL.MundialitoContext, Mundialito" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Mundialito.DAL.MundialitoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eurochamp.database.windows.net,1433;Initial Catalog=eurochamp;User Id=ezraroi@eurochamp.database.windows.net;Password=RoiAnatHadasEzra11</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Mundialito.DAL.MundialitoContext" />
  </ItemGroup>
</Project>