html {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}

body {
    background: #fff;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

section#body {
    padding: 20px 0 30px;
    background: #fff;
}

footer {
    padding: 30px 0;
    color: #999;
    font-size: 12px;
}

div.appAlerts {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1200;
    width: 90%;
    max-width: 300px;
}

.form-group.multiple {
    margin-bottom: 0;
}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

    input.ng-invalid.ng-dirty:focus, textarea.ng-invalid.ng-dirty:focus, select.ng-invalid.ng-dirty:focus {
        border-color: #a74240;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c1605e;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c1605e;
    }

.gutter-top {
    margin-top: 15px;
}

.gutter-bottom {
    margin-bottom: 15px;
}

.ng-cloak {
    display: none;
}

.admin-remove {
    color: red;
}

.blue {
  background-color: #1fe0f0;
  color: #153ff0;
}

.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:bold}.multiselect-container>li>label.multiselect-group{margin:0;padding:3px 20px 3px 10px;height:100%;font-weight:bold;}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:normal}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type="checkbox"]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}