<div class="row">
    <div class="col-md-12">
        <form name="betsForm" novalidate>
                    <div class="table-responsive">
                        <table class="table table-striped" cg-busy="{tracker:'getUserBets'}">
                            <thead>
                            <th class="col-md-3">Game</th>
                            <th class="col-md-3">Home Score</th>
                            <th class="col-md-3">Away Score</th>
                            <th class="col-md-1"><i class="fa fa-stop" style="color: #ffff00" tooltip="Yellow Cards Mark"></i> Cards</th>
                            <th class="col-md-1"><i class="fa fa-arrows-alt" tooltip="Corners Mark"></i> Corners</th>
                            <th class="col-md-1">Save</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="game in games">
                                <ng-form name="betFromIn">
                                    <td>
                                        <i ng-class="['flagsp','flagsp_{{game.HomeTeam.ShortName | lowercase}}']" tooltip="{{game.HomeTeam.Name}}"></i>{{game.HomeTeam.ShortName}} -
                                        <i ng-class="['flagsp','flagsp_{{game.AwayTeam.ShortName | lowercase}}']" tooltip="{{game.AwayTeam.Name}}"></i>{{game.AwayTeam.ShortName}}
                                    </td>
                                    <td>
                                        <input class="col-md-3" name="homeScore" id="homeScore" type="number" ng-model="bets[game.GameId].HomeScore" class="form-control" required min="0">
                                    </td>
                                    <td>
                                        <input class="col-md-3" name="awayScore" id="awayScore" type="number" ng-model="bets[game.GameId].AwayScore" class="form-control" required min="0">
                                    </td>
                                    <td>
                                        <select id="cards" name="cards" ui-select2="{allowClear: false}" class="form-control" ng-model="bets[game.GameId].CardsMark" required>
                                            <option value="1">1</option>
                                            <option value="X">X</option>
                                            <option value="2">2</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="corners" name="corners" ui-select2="{allowClear: false}" class="form-control" ng-model="bets[game.GameId].CornersMark" required>
                                            <option value="1">1</option>
                                            <option value="X">X</option>
                                            <option value="2">2</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" ng-disabled="betFromIn.$invalid" class="btn btn-success btn-sm" ng-click="updateBet(game.GameId)"><i class="fa fa-save"></i></button>
                                    </td>
                                </ng-form>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
    </div>
</div>
