<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mundialito.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mundialito</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mundialito</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Mundialito.DAL.MundialitoContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:m8a4ohtorq.database.windows.net,1433;Initial Catalog=mundialAGEG1NQnv;Integrated Security=False;User ID=ezraroi@m8a4ohtorq;Password=RoiDror123;Connect Timeout=30;Encrypt=True" Name="Server=tcp:m8a4ohtorq.database.windows.net,1433;Database=mundialAGEG1NQnv;User ID=ezraroi@m8a4ohtorq;Password=RoiDror123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Mundialito.DAL.MundialitoContext, Mundialito" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Mundialito.DAL.MundialitoContext-Web.config Connection String">
      <ParameterValue>Server=tcp:m8a4ohtorq.database.windows.net,1433;Database=mundialAGEG1NQnv;User ID=ezraroi@m8a4ohtorq;Password=RoiDror123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Mundialito.DAL.MundialitoContext" />
  </ItemGroup>
</Project>