<script type="text/ng-template" id="/games">
    <div class="container" ng-controller="GamesCtrl">
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success" cg-busy="{tracker:'getGames'}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-3 col-xs-12">
                                <select class="selectpicker show-tick" ng-model="gamesFilter" data-header="Filter Games">
                                    <option value="All" data-icon="fa fa-list" selected="selected">All Games</option>
                                    <option value="OnlyOpen" data-icon="fa fa-folder-open">Only Open</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <mundialito-games info="games" filter="gamesFilter" on-add="addNewGame()"></mundialito-games>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-access-level="Admin" ng-show="newGame">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><i class="fa fa-plus"></i> Add New Game</div>
                    <div class="panel-body">
                        <form name="addGameForm">
                            <div class="form-group select">
                                <label for="HomeTeam">Home Team</label>
                                <select id="HomeTeam" class="selectpicker show-tick form-control" ng-model="newGame.HomeTeam" data-header="Home Team" required>
                                    <option ng-repeat="team in teams" value="{{team}}">{{team.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group select">
                                <label for="AwayTeam">Away Team</label>
                                <select id="AwayTeam" class="selectpicker show-tick form-control" ng-model="newGame.AwayTeam" data-header="Away Team" required>
                                    <option ng-repeat="team in teams" value="{{team}}">{{team.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group select">
                                <label for="Stadium">Stadium</label>
                                <select id="Stadium" class="selectpicker show-tick form-control" ng-model="newGame.Stadium" data-header="Stadium" required>
                                    <option ng-repeat="stadium in stadiums" value="{{stadium}}">{{stadium.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group select">
                                <div class="dropdown">
                                    <label for="Date">Date & Time</label>
                                    <a class="dropdown-toggle my-toggle-select" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <div class="input-group">
                                            <input type="text" id="Date" class="form-control" data-ng-model="newGame.Date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="newGame.Date" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select'}"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                            <button type="submit" add-game-button ng-model="newGame" class="btn btn-primary btn-lg btn-block" ng-disabled="addGameForm.$invalid" tabindex="100"><i class="fa fa-plus-circle"></i> Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-access-level="Admin" ng-show="pendingUpdateGames.length > 0"</div>
            <div class="col-md-12">
                <div class="panel panel-collapse panel-primary">
                    <div class="panel-heading"><i class="fa fa-clock-o"></i> Pending Update Games</div>
                    <div class="panel-body">
                        <div class="row" ng-repeat="game in pendingUpdateGames">
                            <div class="col-md-3 text-center">
                                {{game.HomeTeam.Name}}
                            </div>
                            <div class="col-md-2">
                                <input type="number" required min="0" />
                            </div>
                            <div class="col-md-3 text-center">
                                {{game.AwayTeam.Name}}
                            </div>
                            <div class="col-md-2">
                                <input type="number" required min="0" />
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</script>