<div class="container" ng-controller="GameCtrl">
    <br />
    <br />
    <div class="row well">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div >
                        <h3>
                            <i ng-class="['flagsp','flagsp_{{game.HomeTeam.ShortName | lowercase}}']" title="{{game.HomeTeam.Name}}"></i> {{game.HomeTeam.Name}} <span ng-if="!game.IsOpen">{{game.HomeScore}} - {{game.AwayScore}}</span><span ng-if="game.IsOpen"> - </span>
    <i ng-class="['flagsp','flagsp_{{game.AwayTeam.ShortName | lowercase}}']" title="{{game.AwayTeam.Name}}"></i> {{game.AwayTeam.Name}}
</h3>
                    </div>
                    <h4>{{game.Stadium.Name}} Stadium</h4>
                    <h4>{{game.Date | date:'dd/MM/yy @ h:mma'}}</h4><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-info btn-xs" data-access-level="Admin" ng-click="showEditForm = !showEditForm">
                        <i class="fa fa-pencil-square-o"></i> <span mundialito-toggle-text true-label="Hide Edit Form" false-label="Edit Game" varieble="showEditForm">Edit Game</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-md-12">
                    Statistics Graph
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-access-level="Admin" ng-show="showEditForm" cg-busy="{tracker:'editGame'}">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"><i class="fa fa-pencil-square-o"></i> Edit Game Details</div>
                <div class="panel-body">
                    <form role="form" name="editGameForm" novalidate>
                        <div class="form-group select">
                            <div class="form-group">
                                <label for="HomeScore">{{game.HomeTeam.Name}} Score</label>
                                <input id="HomeScore" type="number" ng-model="updatedGame.HomeScore" class="form-control" placeholder="Home Team Score" required min="0">
                            </div>
                            <div class="form-group">
                                <label for="AwayScore">{{game.AwayTeam.Name}} Score</label>
                                <input id="AwayScore" type="number" ng-model="updatedGame.AwayScore" class="form-control" placeholder="Away Team Score" required min="0">
                            </div>
                            <div class="dropdown">
                                <label for="Date">Date & Time</label>
                                <a class="dropdown-toggle" id="dateToggleSelect" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <div class="input-group">
                                        <input type="text" id="Date" class="form-control" data-ng-model="updatedGame.Date" required>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="updatedGame.Date" data-datetimepicker-config="{ dropdownSelector: 'dateToggleSelect'}"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" update-game-button class="btn btn-primary btn-lg btn-block" ng-disabled="editGameForm.$invalid" tabindex="100"><i class="fa fa-floppy-o"></i> Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user"></i> Your Bet
                    <span ng-show="game.IsPendingUpdate" class="label label-info pull-right"><i class="fa fa-clock-o"></i> Pending Update</span>
                    <span ng-show="!game.IsPendingUpdate && !game.IsOpen" class="label label-danger pull-right"><i class="fa fa-lock"></i> Closed for betting</span>
                    <span ng-show="game.IsOpen" class="label label-success pull-right"><i class="fa fa-unlock"></i> Open for betting</span>
                </div>
                <div class="panel-body">
                    <div ng-if="!game.IsOpen && userBet.BetId == -1" class="text-danger">
                        <i class="fa fa-warning"></i> You haven't placed a bet on this game and it is already closed for betting
                    </div>
                    <form class="form-horizontal" novalidate name="userBetFrom" ng-if="userBet.BetId != -1 || game.IsOpen">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="{{game.HomeTeam.TeamId}}">
                                <div class="text-center"><i ng-class="['flagsp','flagsp_{{game.HomeTeam.ShortName | lowercase}}']" title=" {{game.HomeTeam.Name}}"></i> {{game.HomeTeam.Name}}</div>
                            </label>
                            <div class="col-md-2">
                                <input id="{{userBet.HomeTeam.TeamId}}" type="number" ng-model="userBet.HomeScore" class="form-control" placeholder="Home Team Score" required min="0">
                            </div>
                            <label class="col-md-3 control-label" for="{{game.AwayTeam.TeamId}}">
                                <div class="text-center"><i ng-class="['flagsp','flagsp_{{game.AwayTeam.ShortName | lowercase}}']" title=" {{game.AwayTeam.Name}}"></i> {{game.AwayTeam.Name}}</div>
                            </label>
                            <div class="col-md-2">
                                <input id="{{userBet.AwayTeam.TeamId}}" type="number" ng-model="userBet.AwayScore" class="form-control" placeholder="Away Team Score" required min="0">
                            </div>
                            <div class="col-md-2 text-center" ng-if="game.IsOpen">
                                <button type="submit" class="btn btn-success" ng-disabled="userBetFrom.$invalid || !game.IsOpen"><i class="fa fa-save"></i></button>
                            </div>
                            <div class="col-md-2" ng-if="!userBet.IsOpenForBetting">
                                <span class="badge" ng-class="{'bade-danger': userBet.Points == 0, 'bade-warning': userBet.Points == 3, 'bade-success': userBet.Points > 3, 'bade-info': userBet.Points == 'NA'}">{{userBet.Points}}</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success" cg-busy="{tracker:'getGameBets'}">
                <div class="panel-heading"><i class="fa fa-money"></i> Other Users Bets</div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-facebook-square"></i> Facebook Comments</div>
                <div class="panel-body">
                    <div class="fb-comments" data-href="#CURRENT_PAGE#" data-numposts="10" data-colorscheme="light"></div>
                </div>
            </div>
        </div>
    </div>
</div>