<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success" cg-busy="{tracker:'getGames'}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <select ui-select2="{allowClear: false}" class="form-control" ng-model="gamesFilter">
                            <option value="All" selected="selected">All Games</option>
                            <option value="OnlyOpen">Only Open</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <mundialito-games info="games" filter="gamesFilter" on-add="addNewGame()"></mundialito-games>
            </div>
        </div>
    </div>
</div>
<!-- Add Game -->
<div class="row" data-access-level="Admin" ng-show="newGame">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-plus"></i> Add New Game</div>
            <div class="panel-body">
                <form role="form" name="addGameForm" novalidate>
                    <div class="form-group select">
                        <label for="HomeTeam">Home Team</label>
                        <select id="HomeTeam" ui-select2="{allowClear: false}" class="form-control" ng-model="newGame.HomeTeam" required>
                            <option ng-repeat="team in teams" value="{{team}}">{{team.Name}}</option>
                        </select>
                    </div>
                    <div class="form-group select">
                        <label for="AwayTeam">Away Team</label>
                        <select id="AwayTeam" class="form-control" ng-model="newGame.AwayTeam" ui-select2="{allowClear: false}" required>
                            <option ng-repeat="team in teams" value="{{team}}">{{team.Name}}</option>
                        </select>
                    </div>
                    <div class="form-group select">
                        <label for="Stadium">Stadium</label>
                        <select id="Stadium" ui-select2="{allowClear: false}" class="form-control" ng-model="newGame.Stadium" required>
                            <option ng-repeat="stadium in stadiums" value="{{stadium}}">{{stadium.Name}}</option>
                        </select>
                    </div>
                    <div class="form-group select">
                        <div class="dropdown">
                            <label for="Date">Date & Time</label>
                            <a class="dropdown-toggle my-toggle-select" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" id="Date" class="form-control" data-ng-model="newGame.Date" required>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="newGame.Date" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select'}"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                    <button type="button" ng-click="saveNewGame()" class="btn btn-primary btn-lg btn-block" ng-disabled="addGameForm.$invalid" tabindex="100"><i class="fa fa-plus-circle"></i> Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Add Game -->
<div class="row" data-access-level="Admin" cg-busy="{tracker:'editGame'}">
    <div class="col-md-12">
        <div class="panel panel-collapse panel-primary">
            <div class="panel-heading"><i class="fa fa-clock-o"></i> Pending Update Games</div>
            <div class="panel-body">
                <div class="row" ng-repeat="updatedGame in games | filter:isPendingUpdate()">
                    <div class="col-md-12">
                        <ng-form class="form-horizontal" novalidate name="updateGame_{{updatedGame.GameId}}">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="HomeScore_{{updatedGame.HomeTeam.TeamId}}">
                                    <i ng-class="['flagsp','flagsp_{{updatedGame.HomeTeam.ShortName | lowercase}}']" title=" {{updatedGame.HomeTeam.Name}}"></i> {{updatedGame.HomeTeam.Name}}
                                </label>
                                <div class="col-md-1">
                                    <input id="HomeScore_{{updatedGame.HomeTeam.TeamId}}" type="number" ng-model="updatedGame.HomeScore" class="form-control" required min="0">
                                </div>
                                <label class="col-md-2 control-label" for="AwayScore_{{updatedGame.AwayTeam.TeamId}}">
                                    <i ng-class="['flagsp','flagsp_{{updatedGame.AwayTeam.ShortName | lowercase}}']" title=" {{updatedGame.AwayTeam.Name}}"></i> {{updatedGame.AwayTeam.Name}}
                                </label>
                                <div class="col-md-1">
                                    <input id="AwayScore_{{updatedGame.AwayTeam.TeamId}}" ng-model="updatedGame.AwayScore" type="number" class="form-control" required min="0">
                                </div>
                                <label class="col-md-1 control-label" for="Cards_{{updatedGame.AwayTeam.TeamId}}">
                                    <i class="fa fa-stop" style="color: #ffff00" tooltip="Yellow Cards Mark"></i>
                                </label>
                                <div class="col-md-1">
                                    <select id="Cards_{{updatedGame.AwayTeam.TeamId}}" name="Cards_{{updatedGame.AwayTeam.TeamId}}" ui-select2="{allowClear: false}" class="form-control" ng-model="updatedGame.CardsMark" required placeholder="Game Corners Mark">
                                        <option value="1">1</option>
                                        <option value="X">X</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <label class="col-md-1 control-label" for="Corners_{{updatedGame.AwayTeam.TeamId}}">
                                    <i class="fa fa-flag-o" tooltip="Corners Mark"></i>
                                </label>
                                <div class="col-md-1">
                                    <select id="Corners_{{updatedGame.AwayTeam.TeamId}}" name="Corners_{{updatedGame.AwayTeam.TeamId}}" ui-select2="{allowClear: false}" class="form-control" ng-model="updatedGame.CornersMark" required placeholder="Game Corners Mark">
                                        <option value="1">1</option>
                                        <option value="X">X</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" ng-click="updateGame(updatedGame)" game="updatedGame" class="btn btn-success btn-block" ng-disabled="updateGame_{{updatedGame.GameId}}.$invalid"><i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>