<h4><i class="fa fa-users"></i> All Users</h4>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped" cg-busy="{tracker:'getUsers'}">
                <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td><a href="{{user.getUrl()}}">{{user.Name}}</a></td>
                    <td>{{user.Email}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="deleteUser(user)" tooltip="Delete User"><i class="fa fa-times-circle"></i></button>
                        <button ng-show="!user.IsAdmin" type="button" class="btn btn-primary btn-sm" ng-click="user.makeAdmin()" tooltip="Make Admin"><i class="fa fa-gear"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>