<div class="row">
    <div class="col-md-11 col-xs-10">
        <div class="list-group" cg-busy="{tracker:'getTeams'}">
            <a href="/teams/{{::team.TeamId}}" class="list-group-item" ng-repeat="team in teams">
                <span class="pull-left"><img ng-src="{{::team.Flag}}" style="width: 55%;" /></span>
                {{::team.Name}} ({{::team.ShortName}})
                <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
            </a>
            <a href="" class="list-group-item" data-access-level="Admin" ng-click="addNewTeam()">
                <i class="fa fa-plus-circle"></i> Add New Team
            </a>
        </div>
    </div>
    <div class="col-md-1 col-xs-2" data-access-level="Admin">
        <div class="list-group">
            <a href="" title="Delete Team" ng-click="deleteTeam(team)" class="list-group-item text-center" ng-repeat="team in teams">
                <i class="fa fa-times-circle admin-remove"></i>
            </a>
        </div>
    </div>
</div>
<div class="row" data-access-level="Admin" ng-show="newTeam">
    <div class="col-md-10">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-plus"></i> Add New Team</div>
            <div class="panel-body">
                <form name="addTeamForm">
                    <auto:fields fields="schema" data="newTeam"></auto:fields>
                    <button type="button" ng-click="saveNewTeam()" ng-model="newTeam" class="btn btn-primary btn-lg btn-block" ng-disabled="addTeamForm.$invalid" tabindex="100"><i class="fa fa-plus-circle"></i> Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
