<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!--
    <add name="DefaultConnection" connectionString="Server=9dd721f9-dd5b-405f-90cf-a2b400a2e420.sqlserver.sequelizer.com;Database=db9dd721f9dd5b405f90cfa2b400a2e420;User ID=nzysmllqtiowvzdm;Password=Apb3TiSRk24ERrpiCG8aHtJSXs7krFYCDrRvxhBxnoFLF55Cezwr5g5hMqdzjGzL;" providerName="System.Data.SqlClient" />
    -->
    <add name="DefaultConnection" connectionString="Server=767347a1-b6c8-462f-842f-a2be009af56a.sqlserver.sequelizer.com;Database=db767347a1b6c8462f842fa2be009af56a;User ID=moutybkazhglkqec;Password=DvqKQZ7NwjFsUL48bUs27DPLxdtYLez27NJDcFVKJhxWEenqvpAMushaNMnMFhcs;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off"/>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
